@if $display_on_mobile == 'true' {
    #stopwatch-container {
        position: relative;
        right: initial;
        margin-top: 0;
    }
} @else {
    #stopwatch-container {
        display: none;
    }
}
