#stopwatch-container {
    min-width: 15em;
    margin-top: -35px;
    padding-right: calc(100% - 765px);
    position: absolute;
    right: 0;
}

h1#stopwatch-time {
    vertical-align: sub;
    display: inline-block;
    overflow: initial !important;
    width: 5.6em !important;
    text-align: left;
    margin-right: #{$button_spacing}em;
}

#controlButton {
    width: 2.4em;
}
