#stopwatch-container {
    position: relative;
    min-width: 15em;
    margin-left: auto;
    margin-bottom: -15px;
    padding-right: calc(100% - 765px);
}

#stopwatch-time {
    display: inline;
    overflow: initial !important;
    width: 5.6em !important;
    text-align: left;
}

#controlButton {
    width: 4.4em;
    margin-left: .5em;
    transform: translateY(-12.5%);
}
